@media only screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }
    .row-odd {
        flex-direction: column-reverse;
    }
    .black-cards-mobile{
        position: static !important;
    }
    .explore-suits-cards{
        width: auto;
        height: auto;
        margin: 10px;
    }
    .box-images{
        width: 100%;
        height: auto;
    }
    .right-image-about, .left-image-about{
        padding: 0px 10px 0px 10px;
    }
    .right-image-about{
        padding: 0px;
    }
    .box-image-heading-mobile{
        font-size: 24px;
        line-height: 1.5em;
    }
    .black-cards{
        text-align: center;
        padding: 0px;
        margin: 0px;
        width: auto;
        top: 410px;
    }
    .body-mobile{
        margin-top: 400px !important;
    }
}