*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container-1300{
    max-width: 1300px;
}
.container-1200{
    max-width: 1200px;
}
.container-1140{
    max-width: 1140px;
}
.container-900{
    max-width: 900px;
}
.container-925{
    max-width: 925px;
}
.container-844{
    max-width: 844px;
}
.right-image-about{
    padding: 80px 60px 80px 40px;
    display: flex;
    align-items: center;
}
.left-image-about{
    padding: 80px 40px 80px 60px;
    display: flex;
    align-items: center;
}
.card-img-top {
    width: 100%;
    height: 175px;
    object-fit: cover;
}
.card-body{
    text-align: center;
}
.card-body-h4{
    font-weight: 600px;
    font-size: 17px;
    line-height: 21px;
    color: black;
}
.card-body-p{
    font-weight: 400px;
    font-size: 15px;
    line-height: 23px;
    color: black;
}
.card-body-hover:hover{
    background-color: rgb(43, 43, 43);
    cursor: pointer;
    color: white;
}
.upper-footer{
    background-image: url('../assets/footer-header.jpg');
    height: 400px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-button{
    width:142px;
    height: 50px;
    border:2px solid white;
    background: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
}
.footer-button:hover{
    background:transparent;
    color: white;
}
.footer-links {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: black;
}
.lower-footer{
    padding: 30px 20px 0px 20px;
}
.footer-h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: black;
}
.home-banner{
    min-height: 400px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.black-cards{
    bottom: -40px;
    margin-left: 40px;
}
.black-card-hover{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(0, 0, 0);
}
.black-card-hover:first-child{
    padding-left: 20px;
    background-color: rgb(0, 0, 0);
}
.black-card-hover:last-child{
    padding-right: 20px;
    background-color: rgb(0, 0, 0);
}
.black-card-hover:hover{
    background-color: rgb(43, 43, 43);
    cursor: pointer;
    color: white;
}
.box-img-heading{
    font-weight: 700;
    font-size: 38px;
    line-height: 51px;
    color: black;
}
.box-img-about{
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: black;
}
.privacy-pol-h2{
    font-weight:600 ;
    font-size: 24px;
    line-height: 24px;
    color: black;
}
.privacy-pol-p{
    font-weight:400 ;
    font-size: 16px;
    line-height: 24px;
    color: black;
}
.privacy-pol-h4{
    font-weight:700 ;
    font-size: 16px;
    line-height: 24px;
    color: black;
}
.privacy-pol-padding , .disclaimer-padding{
    padding: 10px;
}
.horizontal-slide-h4{
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
    color: black;
    margin-bottom: 25px;
}
.box-images{
    object-fit: cover;
}
.upper-footer-h2{
    font-weight: 600px;
    font-size: 32px;
    line-height: 32px;
}
.upper-footer-h4{
    font-weight: 700px;
    font-size: 28px;
    line-height: 28px;
}
.box-image-h4{
    font-weight: 600px;
    font-size: 24px;
    line-height: 32px;
    color: black;
}
.box-image-p{
    font-weight: 400px;
    font-size: 15px;
    line-height: 24px;
    color: black;
}
.cards-h4{
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
    color: black;
}
.cards-p{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: black;
}

.blue-card-left{
    padding: 50px 40px 20px 0px;
}
.blue-card-right{
    padding: 50px 0px 20px 40px;
}
.blue-card-h4{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}
.blue-card-p{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}
.small-card-h4{
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: white;
}
.small-card-heading{
    padding: 10px 10px 0px 10px;
}
.small-card-p{
    padding: 10px 10px 10px 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}
.custom-card-body{
    width: 555px;
}
.custom-card-img{
    width: 170px;
    height: 224px;
    object-fit: cover;
    object-position: 70% 20%;
}
.long-card-h4{
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
}
.long-card-p{
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
}
.input-item{
    background-color : #F9F9F9;
    border: 0;
    color: #2B2B2B;
}
.map-h4{
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
}
.btn-dark{
    background-color: black !important;
}
.resources-banner{
    background-position: top center;
}
.our-company-header{
    background-position: bottom center;
}